.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  @media (max-width: 530px) {
    margin-left: 5vw;
    margin-right: 1vw;
  }
  @media (max-width: 415px) {
    margin-left: 20vw;
    margin-right: 15vw;
  }
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #245462;
      border-radius: 10px;
      margin-right: 20px;
      cursor: pointer;
      display: inline-block;
      color: #245462;
      @media (max-width: 415px) {
        width: 25px;
        height: 25px;
        line-height: 25px;
        border-radius: 5px;
      }
      &:hover {
        background-color: #245462;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #245462;
        color: #fff;
      }
    }
  }
}
